@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@mixin aspect-ratio($width) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: $width;
    padding-top: 100%;
  }
  > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

* {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  &:active, &:visited {
    color: black;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Titillium Web';
  color: #252527;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1060px) {
    & > *:not(img) {
      padding: 0 5vw;
    }
    & > section {
      padding: 0;
    }
  }
}

#blogPosts {
  display: flex;
  flex-direction: column;
}

#firstPost {
  width: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items:center;
  & > a {
    display: flex;
    justify-content: center;
    align-items:center;
    & > img {
      width: 100%;
      filter: grayscale(100%) brightness(120%);
    }
  }
}

.blogPostInfo {
  position: absolute;
  z-index: 100;
  top: 30%;
  text-shadow: 3px 3px 5px black;
  width: 100%;
  color: #F6F6F6;
  font-size: 4vh;
  text-align: center;
  & > span {
    font-size: 2vh;
  }
}

.blogPostBg{
  position: absolute;
  z-index:95;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#olderPosts {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  & > a {
    width: 50%;
    height: auto;
    margin: 0;
    overflow: hidden;
    position: relative;
    & > img {
      min-width: 100%;
      max-width: 430px;
      min-height: 100%;
      max-height: 430px;
      filter: grayscale(100%) brightness(120%);
    }
  }
}

.featureImage {
  width: 100%;
  height: auto;
}

footer {
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
  background: #8CC9C7;
  font-size: 2vh;

  & > a {
    text-decoration: none;

    &:visited{
      color: #4D556B;
    }
  }
}

.heading {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 6vh;
  text-align: center;
}

#instagramPhotos {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex !important;
  flex-wrap: wrap;
}

#layer {
  width: 100%;
  height: 100%;
  background-color: #8CC9C7;
  opacity: .5;
}

.more {
  width: 100%;
  font-size: 3vh;
  text-align: center;
  margin: 10px 0px;
  color: #999;
  &:visited {
    color: #999;
  }
  &:hover {
    background: #DDD;
    color :#252527;
  }
}

.photoContainer {
  width: 50%;
  height: auto;
  @include aspect-ratio(50%);
  margin: 0px;
  overflow: hidden;
  & > img {
    height: 100%;
    filter: grayscale(80%) opacity(70%) brightness(115%);
    transition: transform .5s ease;
  }
  &:hover img {
    filter: none;
    transform: scale(1.3);
  }
}

#primaryLogo {
  height: 30vh;
  z-index: 99;
  margin: -5px;
}

#primaryLogoContainer {
  display: flex;
  align-items: center;
}

#primaryNav {
  height: 10vh;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12vw;
  margin-bottom: 12vh;
  background: #D1B3BB;
  & > * {
    margin: 4px;
  }
  & > a {
    height: 70%;
    width: fit-content;
  }
}

section {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.socialLink {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#splash {
  height: 25vh;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url('https://www.pointswithacrew.com/wp-content/uploads/2018/12/new-zealand-mountains-cc0.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
  }
}