@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
* {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:active, a:visited {
  color: black;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Titillium Web';
  color: #252527;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1060px) {
  main > *:not(img) {
    padding: 0 5vw;
  }
  main > section {
    padding: 0;
  }
}

#blogPosts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#firstPost {
  width: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#firstPost > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#firstPost > a > img {
  width: 100%;
  -webkit-filter: grayscale(100%) brightness(120%);
          filter: grayscale(100%) brightness(120%);
}

.blogPostInfo {
  position: absolute;
  z-index: 100;
  top: 30%;
  text-shadow: 3px 3px 5px black;
  width: 100%;
  color: #F6F6F6;
  font-size: 4vh;
  text-align: center;
}

.blogPostInfo > span {
  font-size: 2vh;
}

.blogPostBg {
  position: absolute;
  z-index: 95;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#olderPosts {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#olderPosts > a {
  width: 50%;
  height: auto;
  margin: 0;
  overflow: hidden;
  position: relative;
}

#olderPosts > a > img {
  min-width: 100%;
  max-width: 430px;
  min-height: 100%;
  max-height: 430px;
  -webkit-filter: grayscale(100%) brightness(120%);
          filter: grayscale(100%) brightness(120%);
}

.featureImage {
  width: 100%;
  height: auto;
}

footer {
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
  background: #8CC9C7;
  font-size: 2vh;
}

footer > a {
  text-decoration: none;
}

footer > a:visited {
  color: #4D556B;
}

.heading {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 6vh;
  text-align: center;
}

#instagramPhotos {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#layer {
  width: 100%;
  height: 100%;
  background-color: #8CC9C7;
  opacity: .5;
}

.more {
  width: 100%;
  font-size: 3vh;
  text-align: center;
  margin: 10px 0px;
  color: #999;
}

.more:visited {
  color: #999;
}

.more:hover {
  background: #DDD;
  color: #252527;
}

.photoContainer {
  width: 50%;
  height: auto;
  position: relative;
  margin: 0px;
  overflow: hidden;
}

.photoContainer:before {
  display: block;
  content: "";
  width: 50%;
  padding-top: 100%;
}

.photoContainer > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.photoContainer > img {
  height: 100%;
  -webkit-filter: grayscale(80%) opacity(70%) brightness(115%);
          filter: grayscale(80%) opacity(70%) brightness(115%);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.photoContainer:hover img {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#primaryLogo {
  height: 30vh;
  z-index: 99;
  margin: -5px;
}

#primaryLogoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#primaryNav {
  height: 10vh;
  max-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 12vw;
  margin-bottom: 12vh;
  background: #D1B3BB;
}

#primaryNav > * {
  margin: 4px;
}

#primaryNav > a {
  height: 70%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.socialLink {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#splash {
  height: 25vh;
  position: relative;
}

#splash::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://www.pointswithacrew.com/wp-content/uploads/2018/12/new-zealand-mountains-cc0.jpg");
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
/*# sourceMappingURL=styles.css.map */